<!-- <div class="container"> -->
<!--   <%#= month_calendar do |date| %>
      <%#= date %>
    <%# end %> -->
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="panel panel-success">
        <div class="panel-heading">
          <div class="panel-title">
            Available Time Overview
          </div>
        </div>
        <div class="panel-body">
          <ul class="list-inline text-center">
            <li class="col-sm-12 col-md-6">
              <b>Vaction Hours</b>
              <ul class="list-inline">
                <li class="col-xs-6 col-sm-3 col-md-2"><div class="row">Beginning</div><div class="row"><%= @user.vacation_total %></div></li>
                <li class="col-xs-6 col-sm-2 col-md-2"><div class="row">Available</div><div class="row"><%= @user.vacation_total - @used_vac %></div></li>
                <li class="col-xs-12 col-sm-3 col-md-3"><div class="row">Approved not taken</div><div class="row"><%= @approved_not_taken_vac %></div></li>
                <li class="col-xs-6 col-sm-2 col-md-2"><div class="row">Used</div><div class="row"><%= @used_vac %></div></li>
                <li class="col-xs-6 col-sm-2 col-md-2"><div class="row">Pending</div><div class="row"><%= @pending_vac_total %></div></li>
              </ul>
            </li>
            <li class="col-sm-12 col-md-6">
              <b>Personal Hours</b>
              <ul class="list-inline">
                <li class="col-xs-6 col-sm-3 col-md-2"><div class="row">Beginning</div><div class="row"><%= @user.personal_total %></div></li>
                <li class="col-xs-6 col-sm-2 col-md-2"><div class="row">Available</div><div class="row"><%= @user.personal_total - @used_personal %></div></li>
                <li class="col-xs-12 col-sm-3 col-md-3"><div class="row">Approved not taken</div><div class="row"><%= @approved_not_taken_personal %></div></li>
                <li class="col-xs-6 col-sm-2 col-md-2"><div class="row">Used</div><div class="row"><%= @used_personal %></div></li>
                <li class="col-xs-6 col-sm-2 col-md-2"><div class="row">Pending</div><div class="row"><%= @pending_personal_total %></div></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
	<div class="row">
    <div class="col-sm-12 col-md-12">
	    <div class="panel panel-primary" >
	      <div class="panel-heading" >
	        <div class="panel-title" >
	          My Vacation Request's
	        	<%= link_to "New Request", new_time_off_request_path, class: "pull-right" %>
	        </div>
	      </div>
	  		<div class="panel-body" %>
          <% if @user.time_off_requests.count == 0 %>
            <div class="jumbotron">
              <p class="text-center">You have no Time Off Requests Pending.</p>
            </div>
          <% else %>
  	     		<table class="table table-striped" >
  	     			<thead>
  		     			<tr>
  		          	<th>Name </th>
  		          	<th>Request Type</th>
  		          	<th>Start Date</th>
  		          	<th>End Date</th>
  		          	<th>Approved</th>
                  <th>Hours</th>
  		          	<th></th>
  		          </tr>
  		        </thead>
  		       	<tbody>
  		       		<% @time_requests.each do |t_request| %>
                  <% t_request.each do |request| %>

  								<tr>
  									<td><%= @user.first_name %> <%= @user.last_name %></td>
  									<td><%= request.time_off_type %></td>
  									<td><%= request.date_start.strftime('%m-%d-%Y') %></td>
  									<td><%= request.date_end.strftime('%m-%d-%Y') %></td>
  									<td><%= request.status %></td>
                    <td><%= request.hours.nil? ? 0 : request.hours %></td>
  									<td><%= link_to 'Cancel', time_off_request_cancel_path(id: request.id), method: :put, data: {confirm: "Are you sure you want to cancel this request. You will not be able to restore this request. You will have to make the request again."} unless request.cancelled || request.approved == false %></td>
  								</tr>
                  <% end %>
  							<% end %>
  		       	</tbody>
  	        </table>
          <% end %>
	      </div>
		  </div>
    </div>
	</div>

  <% if @user.admin? %>
  	<div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="panel panel-danger" >
          <div class="panel-heading" >
            <div class="panel-title" >
              Employee Vacation Request's Waiting for your Approval
            </div>
          </div>
          <div class="panel-body" %>
            <% if @user.time_off_requests.count == 0 %>
              <div class="jumbotron">
                <p class="text-center">You have no Time Off Requests Pending.</p>
              </div>
            <% else %>
              <table class="table table-striped" >
                <thead>
                  <tr>
                    <th>Name </th>
                    <th>Request Type</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Hours</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @manager_approvals.each do |request| %>
                    <tr>
                      <td><%= request.user.first_name %> <%= request.user.last_name %></td>
                      <td><%= request.time_off_type %></td>
                      <td><%= request.date_start.strftime('%m-%d-%Y') %></td>
                      <td><%= request.date_end.strftime('%m-%d-%Y') %></td>
                      <td><%= request.hours %></td>
                      <td><%= link_to "Approve", time_off_request_path(id: request.id, status: "approved"), method: :put, class: 'btn btn-success' %> <%= link_to "Deny", time_off_request_path(id: request.id, status: "denied"), method: :put, class: 'btn btn-danger' %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% end %>
          </div>
        </div>
    	</div>
    </div> 

    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="panel panel-warning" >
          <div class="panel-heading" >
            <div class="panel-title" >
              Department Employee Time Off Details
            </div>
          </div>
          <div class="panel-body" %>
            <% if @employees.count == 0 %>
              <div class="jumbotron">
                <p class="text-center">You have no employees under you.</p>
              </div>
            <% else %>
              <table class="table table-striped" >
                <thead>
                  <tr style="background-color:lightgray;">
                    <th></th>
                    <th colspan=5 class="text-center">Vacation Time (Hours)</th>
                    <th colspan=5 class="text-center">Personal Time (Hours)</th>
                  </tr>
                  <tr style="background-color:lightyellow;">
                    <th>Name </th>
                    <th class="text-center">Beginning</th>
                    <th class="text-center">Available</th>
                    <th class="text-center">Approved not taken</th>
                    <th class="text-center">Used</th>
                    <th class="text-center">Pending</th>
                    <th class="text-center">Beginning</th>
                    <th class="text-center">Available</th>
                    <th class="text-center">Approved not taken</th>
                    <th class="text-center">Used</th>
                    <th class="text-center">Pending</th>
                  </tr>
                </thead>
                <tbody>
                  <% @employees.each do |emp| %>
                    <tr>
                      <td><%= emp.first_name %> <%= emp.last_name %></td>
                      <% emp_hash = emp.user_totals %>
                      <td class="text-center"><%= emp.vacation_total %></td>
                      <td class="text-center"><%= emp_hash[:vacation][:available] - emp_hash[:vacation][:used]  %></td>
                      <td class="text-center"><%= emp_hash[:vacation][:approved_not_taken] %></td>
                      <td class="text-center "><%= emp_hash[:vacation][:used] %></td>
                      <td class="text-center right-border"><%= emp_hash[:vacation][:pending] %></td>
                      <td class="text-center"><%= emp.personal_total %></td>
                      <td class="text-center"><%= emp_hash[:personal][:available] - emp_hash[:personal][:used] %></td>
                      <td class="text-center"><%= emp_hash[:vacation][:approved_not_taken] %></td>
                      <td class="text-center"><%= emp_hash[:personal][:used] %></td>
                      <td class="text-center"><%= emp_hash[:personal][:pending] %></td>

                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>