<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-6 col-md-offset-2">
			<%= link_to '<< Back', user_portal_index_path %>
		</div>
	</div>
  <div class="row">
		<div class="col-sm-12 col-md-6 col-md-offset-2">
		  <div class="panel panel-default">
		    <div class="panel-heading" style="background-color:#92B3B0">
		      <div class="panel-title text-center">
		        Available Time Overview
		      </div>
		    </div>
		    <div class="panel-body">
		    	<ul class="list-inline text-center">
		    		<li>
		    			<div class="col-sm-12 col-md-12">
			    			<b>Vaction Time (Hours)</b>
			    		</div>
			    		<div class="col-sm-12 col-md-12">
			    			<%= @user.vacation_total %>
			    		</div>
		    		</li>
		    		<li>
		    			<div class="col-sm-12 col-md-12">
			    			<b>Personal Time (Hours)</b>
			    		</div>
			    		<div class="col-sm-12 col-md-12">
			    			<%= @user.personal_total %>
			    		</div>
		    		</li>
		      </ul>
		    </div>
		  </div>
	</div>
	<div class="row">
	  <%= form_for :request, url: time_off_request_index_path, method: :post do |f| %>
	  	<div class="form-group">
	  		<div class="col-sm-12 col-md-6 col-md-offset-2">
		  		<%= f.label 'Manager Name' %>
		  		<%= f.select :manager_id, @managers.map {|manager| [manager.name, manager.id]}, {prompt: '- Please Select -'}, {class: 'form-control'} %>
		  	</div>
	  	</div>
	  	<div class="form-group">
	  		<div class="col-sm-12 col-md-6 col-md-offset-2">
		  		<%= f.label "Request Type" %>
		  		<%= f.select :time_off_type, @request_types.map {|type| type}, {prompt: '- Please Select -'}, {class: 'form-control '} %>
		  	</div>
	  	</div>
	  	<div class="form-group">
	  		<div class="col-sm-12 col-md-3 col-md-offset-2">
		  		<%= f.label "Start Date" %>
		  		<%= f.text_field :date_start, class: 'form-control', id: 'start_date' %>
		  	</div>
		  	<div class="col-sm-12 col-md-3">
		  		<%= f.label "End Date" %>
		  		<%= f.text_field :date_end, class: 'form-control', id: 'end_date' %>
	  		</div>
	  	</div>
	  	<div class="form-group hide" id="total_hours">
	  		<div class="col-sm-12 col-md-6 col-md-offset-2">
		  		<%= f.label "How many hours?" %>
		  		<%= f.select :hours, @hours.map {|hour| hour}, {prompt: '- Please Select -'}, {class: 'form-control '} %>
	  		</div>
	  	</div>
	  	<div class="form-group">
	  		<div class="col-sm-12 col-md-6 col-md-offset-2">
		  		<%= f.label "Request Note" %>
		  		<%= f.text_area :note, class: 'form-control ' %>
		  	</div>
	  	</div>
	  	<div class="form-group">
	  		<div class="col-sm-12 col-md-6 col-md-offset-2" style="margin-top:15px;">
		  		<%= f.submit "Ask Off", class: 'btn btn-block btn-primary' %>
	  		</div>
	  	</div>
	  <% end %>
	</div>

	<div class="row" style="margin-top:30px;">
		<ul class="nav nav-pills nav-justified" role="tablist">
			<li role="presentation" class="active"><a href="#personal" aria-controls="personal" role="tab" data-toggle="tab">Personal <span class="badge"><%= @personal_count %></span></a></li>
			<li role="presentation"><a href="#vacation" aria-controls="vacation" role="tab" data-toggle="tab">Vacation <span class="badge" style=""><%= @vacation_count %></span></a></li>
		</ul>

		
				<div class="tab-content">
					<% @requests.each do |key, request| %>
						<% if @counter == 0 %>
							<div role="tabpanel" class="tab-pane active" id="<%= key.downcase %>">
							<% @counter += 1 %>
						<% else %>
							<div role="tabpanel" class="tab-pane" id="<%= key.downcase %>">
						<% end %>
							<table class= "table table-striped">
								<thead>
									<tr>
										<th>Request Type</th>
										<th>Manager</th>
										<th>Start Date</th>
										<th>End Date</th>
										<th>Hours</th>
									</tr>
								</thead>
								<tbody>
									<% request.each do |request| %>
										<tr>
											<td><%= request.time_off_type %></td>
											<td><%= request.manager.name %></td>
											<td><%= request.date_start.strftime("%m/%d/%Y") %></td>
											<td><%= request.date_end.strftime("%m/%d/%Y") %></td>
											<td><%= request.hours %></td>
											<td><%= link_to 'Cancel', time_off_request_cancel_path(id: request.id), method: :put, data: {confirm: "Are you sure you want to cancel this request. You will not be able to restore this request. You will have to make the request again."} unless request.cancelled || request.approved == false %></td>
										</tr>
									<% end %>
								</tbody>
							</table>
						</div>
					<% end %>
				</div>
			</tbody>
		</table>
	</div>
</div>