<!DOCTYPE html>
<html>
  <head>
    <title>TimeClock</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>

  <body class="login-page">
  	<div class="navbar navbar-inverse navbar-fixed-top endura-navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                  
                </ul>
            </div>
        </div>
    </div>
    <div class="body-content">
      <div class="row">
          <div style="margin-top: 60px;">
  	        <div class="row">
  	            <% if flash[:notice] %>
  	              <div class="alert alert-success alert-dismissable">
  	                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  	                <strong>Success!</strong> <%= flash[:notice] %>
  	              </div>
  	            <% elsif flash[:error] %>
  		            <div class="alert alert-danger alert-dismissable">
  	                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  	                <strong>Error!</strong> 
  	                <ul>
  	                  <%# flash[:error].each do |error| %>
  	                      <li><%#= error %></li>
  	                  <%# end %>
  	                </ul>
  	              </div>
  	            <% end %>
  	        </div>
  		      <%= yield %>
  		    </div>
		    </div>
      </div>
  </body>
</html>